@import './variables';
@import './mixins';

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

/* HEADER */
header{
    height: 56px;
    position: relative;
    /* NAV */
    .navbar{
        float: right;
        background-color: $blanco;
        ul{
            li{
                display: flex;
                align-self: center;
            }
            .social-network {
                display: flex;
                @media (max-width: 991px){
                    display: flex;
                    justify-content: space-evenly;
                    margin-left: 0px;
                }
            }
        }
        .active>.nav-link{
            color: $azul-oscuro-link !important;
        }
        .line-nav{
            height: 30px;
            margin-top: 7px;
            width: 2px;
            margin: 7px 40px 0px 40px;        
            background-color: $gris-claro;
            @media (max-width: 991px){
                display: none;
            }
        }
    }
    .nav-item{
        img{
            width: 30px;
            opacity: 0.4;
            &:hover{
                opacity: 0.7;
            }   
        }
    }
}
.breadcrumbs{
    padding-top: 24px;
    ul{
        li{
            display: inline-block;
            a{
                text-decoration: none;
                color: $azul-claro;
                &:hover{
                    color: $azul-oscuro-link;
                    text-decoration: underline;
                }
            }
        }
    }
}
@media (max-width: 991px){
/*Estilos sidenav menu*/
    .navbar{
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        float: inherit !important;
        justify-content: flex-end;
    }
    ul.navbar-nav.mr-auto {
        padding: 30px;
        text-align: center;
    }
    .navbar-nav{
        .nav-link{
            padding: 15px 0px;
        }
    }
}

/* SECCION ABOUT */
.about{
    padding: 60px 40px;
    color: $gris-oscuro;
    p{
        color: $gris-claro;
    }
    &.home-about{
        margin-top: 10%;
    }
    .line {
        width: 50px;
        height: 3px;
        background: $gris-oscuro;
        margin: 10px 0px;
    }
        
}



/*  PORTAFOLIO  */
.gallery-porfolio{
    .gallery-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50vh;
        padding: 10px 40px;
        @media (max-width: 1032px){ 
            height: auto !important;
            display: block !important;
        }
      }
      a{
        opacity: 0;
        text-decoration: none;
        color: $blanco;
        position: absolute;
        right: 45%;
        top: 23%;
        font-size: 150px;
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.35);
     }
      .item {
        flex: 1;
        height: 100%;
        width: 100%;
        background-position: top;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
        position: relative;
        opacity: 0.6;
        &:hover{
          flex: 7;
            a {
                opacity: 1;
                &:hover{
                    color: $azul-oscuro-link !important;
                }
            }
            opacity: 1;
        }
        &-1{
            background-image: url("../img/vota-inteligente/proyect-1.1.png");
        }
        &-2{
            background-image: url("../img/build-in/proyect-2.0.jpg");
        }
        &-3{
            background-image: url("../img/barrio-yungay/proyect-3.2.png");
        }
        &-4{
            background-image: url("../img/fonohabilita/proyect-4.0.jpg");
        }
        &-5{
            background-image: url("../img/blackgnome/proyect-6.0.png");
        }
        &-6{
            background-image: url("../img/birdgym/proyect-6.0.png");
        }
        &-7{
            background-image: url("../img/giveandtake/proyect-5.1.jpg");
        }
        &-8{
            background-image: url("../img/giveandtake/proyect-5.1.jpg");
        }
        @media (max-width: 1032px){ 
            height: 400px;
            flex: none !important;
            display: inline-block !important;
            width: 49%;
            opacity: 0.8;
            a{
                opacity: 1 !important;
                color: $azul-oscuro-link !important;
            }
            @media (max-width:690px) {
                width: 100%;
            }
        }
    }
}



.gallery-photo{
    img {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: 24px 0px;
    }
    .img-90{
        width: 90% !important;
        padding-bottom: 40px;
    }
}